<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/animate.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/es6")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/element")
    @Scripts.Render("~/bundles/echarts")
    @Scripts.Render("~/bundles/utils")
</head>
<body>
    @RenderBody()
    <div id="main"></div>
    <script type="text/x-template" id="mainpage">
        <el-container>
            <el-header>
                <div class="logo"></div>
            </el-header>
            <el-container>
                <div v-bind:style="{ width: '100%', height: height }">
                    <div class="container" ref="container" v-bind:style="{ marginTop :maginTop }">
                        <el-row>
                            <el-col v-bind:span="8" v-bind:key="menu.id" v-for="menu in menus" >
                             <div class="select-item" v-on:mouseover="mouseover(menu,$event)" 
                                  v-on:mouseout="mouseout(menu,$event)" 
                                  v-on:click="open(menu)" 
                                  v-bind:style="{backgroundImage: menu.hasRole?
                                  'url(../../Images/main/'+menu.icon+')':
                                  'url(../../Images/main/'+menu.icon.replace(/normal/g, 'lock')+')'}">

                             </div>
                            </el-col>
                        </el-row>
                    </div>
                </div>
            </el-container>
            <el-footer style="height:30px;">
                <span>版权所有：奉贤水务局</span>
                <span>技术支持：超图软件</span>
            </el-footer>
        </el-container>
    </script>

    <script>
        new Vue({
            el: '#main',
            template: '#mainpage',
            data: {
                height: (document.documentElement.clientHeight - 109) + 'px',
                maginTop: '0',
                menus: []
            },
            mounted: function () {
                this.getMenus()
                this.resize()
                this.setSize()
            },
            methods: {
                resize: function () {
                    $(window).resize(function () {
                        this.setSize()
                    }.bind(this));
                },
                setSize: function () {
                    var docH = document.documentElement.clientHeight
                    this.height = (docH - 109) + 'px'
                    var num = Math.ceil(this.menus.length / 3)
                    this.maginTop = ((docH - 109) - (num * 174) - 15) / 2 + 'px'
                },
                mouseover: function (menu,event) {
                    if (menu.hasRole) {
                        event.currentTarget.style.backgroundImage = event.currentTarget.style.backgroundImage.replace(/normal/g, "active")
                    } else {
                        event.currentTarget.style.cursor = "no-drop"
                    }
                },
                mouseout: function (menu, event) {
                    if (menu.hasRole) {
                        event.currentTarget.style.backgroundImage = event.currentTarget.style.backgroundImage.replace(/active/g, "normal")
                    } else {
                        event.currentTarget.style.cursor = "no-drop"
                    }
                },
                open: function (menu) {
                    if (menu.hasRole) {
                        window.open(menu.url);
                    }
                },
                getMenus: function () {
                    this.menus = [{
                        id: '1',
                        title: '水文',
                        icon: 'btn_swzxt_normal.png',
                        url: '/Main/Hydrology',
                        hasRole:true
                    }, {
                        id: '2',
                        title: '水资源',
                        icon: 'btn_szyzxt_normal.png',
                        url: '/WaterRes/Index',
                        hasRole: true
                    }, {
                        id: '3',
                        title: '河闸',
                        icon: 'btn_hzzxt_normal.png',
                        url: '/WaterRes/Index',
                        hasRole: true
                    }, {
                        id: '4',
                        title: '排水',
                        icon: 'btn_pszxt_normal.png',
                        url: '/WaterRes/Index',
                        hasRole: false
                    }, {
                        id: '5',
                        title: '防汛',
                        icon: 'btn_fxzxt_normal.png',
                        url: '/WaterRes/Index',
                        hasRole: true
                    }, {
                        id: '6',
                        title: '海塘',
                        icon: 'btn_htzxt_normal.png',
                        url: '/WaterRes/Index',
                        hasRole: true
                    }, {
                        id: '7',
                        title: '工程',
                        icon: 'btn_gczxt_normal.png',
                        url: '/Main/Project',
                        hasRole: true
                    }, {
                        id: '8',
                        title: '设施',
                        icon: 'btn_sszxt_normal.png',
                        url: '/WaterRes/Index',
                        hasRole: true
                    }]
                },
            }
        });
    </script>

    <style>
        .el-container {
            height: 100%;
            border: 0px solid #eee;
            background: #051367;
        }

        .el-header {
            background-color: #051367;
            background-position: right;
            background-repeat: no-repeat;
            color: #333;
            height: 79px !important;
            text-align: right;
            font-size: 12px;
            padding: 0px;
            border-bottom:1px solid #0056ce;
        }
        .el-header .logo {
                height: 78px;
                width: 100%;
                max-width: 895px;
                display: inline-block;
                float: left;
                background-image: url('../../Images/main/head/img_header.png');
                background-repeat: no-repeat;
            }
        .el-container .container {
            margin:0 auto;
            width:878px;
        }
        .el-container .container .el-col{
            margin-bottom:7px;
        }
        .el-container .container .select-item {
             width:286px;
             height:174px;
             background:rgba(255,255,255,0.3);  
             /*background-image: url('../../Images/main/btn_fxzxt_normal.png');*/
             background-repeat:no-repeat;
             cursor:pointer;
        }
        .el-footer {
            background-color: #0056CE;
            font-size: 12px;
            color: #eee;
            height: 30px;
            text-align: center;
            line-height: 30px;
            padding: 0px;
        }

            .el-footer span {
                margin-left: 20px;
            }
    </style>
</body>
</html>
