<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/animate.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/es6")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/element")
    @Scripts.Render("~/bundles/echarts")
    @Scripts.Render("~/bundles/utils")
</head>
<body>
    @RenderBody()
    <div id="main"></div>
    <script type="text/x-template" id="mainpage">
        <el-container>
            <el-header>
                <div class="logo"></div>
            </el-header>
            <el-container>
                <div v-bind:style="{ width: '100%', height: height }">
                    <div class="container" ref="container" v-bind:style="{ marginTop :maginTop }">
                        <el-row>
                            <el-col v-bind:span="8" v-bind:key="menu.id" v-for="menu in menus" >
                             <div class="select-item" v-on:mouseover="mouseover(menu,$event)" 
                                  v-on:mouseout="mouseout(menu,$event)" 
                                  v-on:click="open(menu)" 
                                  v-bind:style="{backgroundImage: menu.hasRole?
                                  'url(../../Images/main/'+menu.icon+')':
                                  'url(../../Images/main/'+menu.icon.replace(/normal/g, 'lock')+')'}">

                             </div>
                            </el-col>
                        </el-row>
                    </div>
                </div>
            </el-container>
            <el-footer style="height:30px;">
                <span>版权所有：奉贤水务局</span>
                <span>技术支持：超图软件</span>
            </el-footer>
        </el-container>
    </script>

    <script>
        new Vue({
            el: '#main',
            template: '#mainpage',
            data: {
                height: (document.documentElement.clientHeight - 109) + 'px',
                maginTop: '0',
                menus: []
            },
            mounted: function () {
                this.getMenus()
                this.resize()
            },
            methods: {
                resize: function () {
                    $(window).resize(function () {
                        this.setSize()
                    }.bind(this));
                },
                setSize: function () {
                    var docH = document.documentElement.clientHeight
                    this.height = (docH - 109) + 'px'
                    var num = Math.ceil(this.menus.length / 3)
                    this.maginTop = ((docH - 109) - (num * 174) - 15) / 2 + 'px'
                },
                mouseover: function (menu, event) {
                    if (menu.hasRole) {
                        event.currentTarget.style.backgroundImage = event.currentTarget.style.backgroundImage.replace(/normal/g, "active")
                    } else {
                        event.currentTarget.style.cursor = "no-drop"
                    }
                },
                mouseout: function (menu, event) {
                    if (menu.hasRole) {
                        event.currentTarget.style.backgroundImage = event.currentTarget.style.backgroundImage.replace(/active/g, "normal")
                    } else {
                        event.currentTarget.style.cursor = "no-drop"
                    }
                },
                open: function (menu) {
                    if (menu.hasRole) {
                        this.openPostWindow(menu.url, menu.id)
                    }
                },
                getMenus: function () {
                    axios.post('/Main/GetMenus', null)
                         .then(function (response) {
                             if (JSON.parse(response.data).SystemMenuGetResponse != undefined) {
                                 this.menus = JSON.parse(response.data).SystemMenuGetResponse.menus
                                 this.setSize()
                             }
                         }.bind(this))
                         .catch(function (error) { })
                },
                openPostWindow: function (url, data) {
                    var tempForm = document.createElement("form");
                    tempForm.id = "tempForm";
                    tempForm.method = "post";
                    tempForm.action = url;
                    tempForm.target = data;
                    var hideInput = document.createElement("input");
                    hideInput.type = "hidden";
                    hideInput.name = "id";
                    hideInput.value = data;
                    tempForm.appendChild(hideInput);
                    if (tempForm.attachEvent) {  // IE   
                        tempForm.attachEvent("onsubmit", function () { window.open('about:blank', "_blank"); });
                    } else if (tempForm.addEventListener) {  // DOM Level 2 standard    
                        tempForm.addEventListener("onsubmit", function () { window.open('about:blank', "_blank"); });
                    }
                    document.body.appendChild(tempForm);
                    if (document.createEvent) { // DOM Level 2 standard    
                        evt = document.createEvent("MouseEvents");
                        evt.initMouseEvent("submit", true, true, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
                        tempForm.dispatchEvent(evt);
                    } else if (tempForm.fireEvent) { // IE    
                        tempForm.fireEvent('onsubmit');
                    }
                    //必须手动的触发          
                    tempForm.submit();
                    document.body.removeChild(tempForm);
                },
                isBrowser: function () {
                    var userAgent = navigator.userAgent;
                    //微信内置浏览器
                    if (userAgent.match(/MicroMessenger/i) == 'MicroMessenger') {
                        return "MicroMessenger";
                    }
                        //QQ内置浏览器
                    else if (userAgent.match(/QQ/i) == 'QQ') {
                        return "QQ";
                    }
                        //Chrome
                    else if (userAgent.match(/Chrome/i) == 'Chrome') {
                        return "Chrome";
                    }
                        //Opera
                    else if (userAgent.match(/Opera/i) == 'Opera') {
                        return "Opera";
                    }
                        //Firefox
                    else if (userAgent.match(/Firefox/i) == 'Firefox') {
                        return "Firefox";
                    }
                        //Safari
                    else if (userAgent.match(/Safari/i) == 'Safari') {
                        return "Safari";
                    }
                        //IE
                    else if (!!window.ActiveXObject || "ActiveXObject" in window) {
                        return "IE";
                    }
                    else {
                        return "未定义:" + userAgent;
                    }
                }
            }
        });
    </script>

    <style>
        .el-container {
            height: 100%;
            border: 0px solid #eee;
            background: #36498b;
            background-image: url('../../Images/main/img_bg_x.png');
            background-repeat:repeat-x;
        }

        .el-header {
            background-color: #121f76;
            background-position: right;
            background-repeat: no-repeat;
            color: #333;
            height: 79px !important;
            text-align: right;
            font-size: 12px;
            padding: 0px;
            border-bottom:1px solid #006aff;
        }
        .el-header .logo {
                height: 78px;
                width: 100%;
                max-width: 895px;
                display: inline-block;
                float: left;
                background-image: url('../../Images/main/head/img_header_zonghe.png');
                background-repeat: no-repeat;
            }
        .el-container .container {
            margin:0 auto;
            width:878px;
        }
        .el-container .container .el-col{
            margin-bottom:7px;
        }
        .el-container .container .select-item {
             width:286px;
             height:174px;
             background:rgba(255,255,255,0.3);  
             background-repeat:no-repeat;
             cursor:pointer;
        }
        .el-footer {
            background-color: #0056CE;
            font-size: 12px;
            color: #eee;
            height: 30px;
            text-align: center;
            line-height: 30px;
            padding: 0px;
        }

            .el-footer span {
                margin-left: 20px;
            }
    </style>
</body>
</html>
